<section ng-show="$ctrl.grid.length">
  <h3>Conway Grid</h3>
  <label>Iteration: {{$ctrl.iteration}}</label>
  <div class="alert alert-danger" ng-show="$ctrl.gameOver">
    Game Over! Everyone dies.
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark btn-sm btn-block" ng-click="$ctrl.startGame()">Start</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark btn-sm btn-block" ng-click="$ctrl.stopGame()">Stop</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark btn-sm btn-block" ng-click="$ctrl.resetGame()">Reset</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info btn-sm btn-block" ng-click="$ctrl.setPeriod15()">Period15</button>
      </div>
    </div>
    <div class="col-sm-10">
      <table>
        <tr ng-repeat="row in $ctrl.grid">
          <td class="grid-cell" ng-repeat="col in row" ng-class="{alive: col.alive}"></td>
        </tr>
      </table>
    </div>
  </div>
    
</section>